.idea
.venv
__pycache__
.pytest_cache
.DS_Store
.task
.secrets

static
    css
    js
    img
    fonts
    admin
    django_extensions
    guardian
    rest_framework
    polymorphic
    staticfiles.json

.env